<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EmergencyContactHelper">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.LoginActivity"
            android:exported="false" />
        
        <activity
            android:name=".activities.RegisterActivity"
            android:exported="false" />
        
        <activity
            android:name=".activities.HomeActivity"
            android:exported="false" />

        <activity
            android:name=".activities.ViewContactsActivity"
            android:exported="false" />

        <activity
            android:name=".activities.AddContactActivity"
            android:exported="false" />

        <activity
            android:name=".activities.ProfileActivity"
            android:exported="false" />

        <activity
            android:name=".activities.EmergencyTriggerActivity"
            android:exported="false" />

        <activity
            android:name=".activities.HospitalDetailActivity"
            android:exported="false" />

        <activity
            android:name=".activities.AmbulanceDetailActivity"
            android:exported="false" />

        <activity
            android:name=".activities.QuickActionsActivity"
            android:exported="false" />

        <activity
            android:name=".activities.FirstAidDetailActivity"
            android:exported="false" />

        <activity
            android:name=".activities.CheckupDetailActivity"
            android:exported="false" />

        <activity
            android:name=".activities.UpdateNumberActivity"
            android:exported="false" />

    </application>

</manifest>
